/* Palette used: https://coolors.co/f2c57c-ddae7e-7fb685-426a5a-ef6f6c */

body {
  font-family: Circular,Helvetica,Arial,sans-serif;
  background-color: #DDAE7E;
  color: #426A5A;
  margin: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.analysis-link {
  background-color: #EF6F6C;
  width: 25%;
  padding: .5em;
  padding-left: 1em;
  margin: 1em;
  margin-left: 0em;
  box-shadow: 2px 2px 4px grey;
  text-decoration: none;
  color: #426A5A;
}

a {
  color: #426A5A;
  text-decoration: none;
}

.analysis-link:hover {
  box-shadow: 3px 3px 8px grey;
}

.back-button {
  float: right;
}

.track, .artist, .album {
  background-color: #EF6F6C;
  width: 100%;
  margin-bottom: 1em;
  padding: .5em;
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 4px grey;
}

.track-number, .artist-number, .album-number {
  float: left;
  margin: 1em;
}

.album-image {
  float: left;
  margin: 1em;
  border-radius: 2px;
  box-shadow: 2px 2px 3px grey;
}

.track-info, .artist-info, .album-info {
  float: left;
  margin: 1em;
}

.track-statistics {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: .5em;
  margin-left: auto;
}

.stat {
  margin-left: .5em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #ca5d5b;
  color: #2b443a;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgb(94, 93, 93);
}